[2015-12-13 23:23] lynndylanhurley opened #1 "Email registration + password reset modals not displayed when using alternate endpoint configs."

[2015-12-13 23:23] lynndylanhurley opened #2 "React native support."

[2015-12-13 23:23] lynndylanhurley opened #3 "I18n translation support"

[2015-12-13 23:34] #1 closed

[2015-12-15 00:00] lynndylanhurley opened #4 "DRY up themes"
There is a lot of repetition in each of the themes.

1. factor out things like `getEndpoint` into shared module.
2. try to extend as much as possible from the default themes.

[2015-12-16 09:28] feesjah opened #5 "server side code ?"
Hi, first of all, awesome project!
Is there an example of the api code somewhere? I can't seem to find it.

[2015-12-16 10:18] vincentbriglia commented on #5
fairly certain that it's this one https://github.com/lynndylanhurley/devise_token_auth_demo

[2015-12-16 10:52] feesjah commented on #5
hmm, any chance of giving more info for node.js users ? like how to generate the tokens with regards to device etc.

[2015-12-16 15:44] lynndylanhurley commented on #5
Hi @feesjah - have you read the [API expectations documentation](https://github.com/lynndylanhurley/redux-auth#extended-documentation)?

[2015-12-16 20:19] feesjah commented on #5
Sorry, I must be missing something.

[code]
where is the code, or the instructions to create the client token or generate access token ? All I see is what should be returned, but not how to create the return values. Again sorry, I am pretty new to the node.js/ react.js scene, I know how to encode and sign a token, but have not learned those things to identify device etc.

[2015-12-16 21:02] lynndylanhurley commented on #5
There is not currently a node.js implementation that I'm aware of.

If you're implementing your own API, I would recommend following the existing [ruby gem](https://github.com/lynndylanhurley/devise_token_auth). Maybe at some point I will create a node.js implementation, but I don't have any immediate plans to do so.

[Bcrypt](https://github.com/dcodeIO/bcrypt.js) should be used to generate the ac

[2015-12-16 21:02] luandro opened #6 "Use with Passport"
This is an awesome idea, congrats!
Can the [Passport](http://passportjs.org/) library be used? Are there any plans on supporting it.

[2015-12-16 23:20] lynndylanhurley commented on #6
This is just the client side. Passport would be the server-side component, similar to [the omniauth library](https://github.com/intridea/omniauth) that is used by the [ruby server side implementation](https://github.com/lynndylanhurley/devise_token_auth). I'm currently using ruby for my own APIs, and I don't have any immediate plans to port the server implementation over to node.js.

[2015-12-17 02:08] luandro commented on #6
Got it thx!

[2015-12-17 02:08] #6 closed

[2015-12-17 05:18] bruz opened #7 "Client-only (non-universal) support"
First, thank you for this wonderful library. It's been a joy to start playing with it and have such great documentation to work from.

I'm wondering how doable it would be currently to use it in a non-universal app. I assume it's conceptually possible since that appears to be how ng-token-auth works, but I'm curious to hear what you think it'd take to support that, if you think it'd be worthwhile

[2015-12-17 06:51] lynndylanhurley commented on #7
Hi @bruz - I'm working on this right now actually. This will launch alongside react-native support. I hope to have this live early next week.

[2015-12-17 07:30] bruz commented on #7
Excellent, that's great news!

[2015-12-19 17:05] tarkanlar opened #9 "Warning on Critical Dependency"
I built brand new project with a starter kit after adding EmailSignupForm (or any other) i am getting this error
material-ui-theme.js?0449:1 Uncaught TypeError: Cannot read property 'getIn' of undefined

And on my console
WARNING in ./~/encoding/lib/encoding.js
Critical dependencies:
9:12-34 the request of a dependency is an expression
 @ ./~/encoding/lib/encoding.js 9:12-34

[2015-12-21 18:09] lynndylanhurley commented on #9
Hi @tarkanlar - thanks for taking the time to report this.

Two questions:

1. Is this just a warning, or is something noticeably breaking?
1. Does this happen with the other themes as well, or just material-ui?

[2015-12-21 20:51] tarkanlar commented on #9
Hi @lynndylanhurley  thanks for reply,
1- I tried with https://github.com/erikras/react-redux-universal-hot-example and  https://github.com/davezuko/react-redux-starter-kit
2- It was just warning
3- I tried with all themes and got the same error.

[2015-12-21 21:58] lynndylanhurley commented on #9
Thanks @tarkanlar, I'll investigate ASAP!

[2015-12-22 00:49] afhammad opened #11 "session storage not persisting"
I'm not using server side rendering at the moment, also the server that serves my client is separate from the api server which handles the auth. Does that have any affect on the session storage persisting after refreshing the page? shouldn't the user still be signed in? at the moment it resets the local storage.

[2015-12-22 00:50] afhammad opened #12 "redirect after sign in"
is there a way to redirect to a certain path after using email sign in?

[2015-12-22 13:07] Secretmapper commented on #12
Check this out: https://github.com/joshgeller/react-redux-jwt-auth-example

[2015-12-22 13:12] Secretmapper commented on #11
Indeed the session doesn't persist. I think persistence will come with the non-universal-support #7

[2015-12-22 14:06] afhammad commented on #12
That example doesn't seem to be using redux-auth at all.

[2015-12-22 14:11] Secretmapper commented on #12
The same idea can be applied for redux-auth. This is what I'm using in my app.

For example, if you see `checkAuth` in `AuthenticatedComponent` it's using a `props.isAuthenticated` property. Since `redux-auth` uses `Immutable`, the api needs to change slightly.

[code]

Then on the `LoginView` I just render `<Theme.EmailSignInForm />` that dispatches `pushPath` once logged in.

[2015-12-22 14:21] afhammad commented on #12
All that makes sense, i guess what's confusing me is the ?next query string. who is that being handled by?

[2015-12-22 15:37] lynndylanhurley commented on #11
@Secretmapper - that's exactly right. I'm hard at work on this now.

[2015-12-22 18:59] lynndylanhurley commented on #12
@afhammad - see [here](https://github.com/lynndylanhurley/redux-auth/blob/master/docs/api-expectations/email-sign-up.md#confirm_success_url).

This isn't documented or tested yet, but you can set this manually by passing a method called `confirmationSuccessUrl` to the configuration settings. For example, assuming your target redirect is "http://custom-redirect.com", try the following configuration

[2015-12-26 02:55] baopham commented on #9
@lynndylanhurley if you replace `import fetch from "node-fetch";` with `import fetch from "isomorphic-fetch";` in https://github.com/lynndylanhurley/redux-auth/blob/master/src/utils/verify-auth.js#L1, it will work.

We get that warning when it tries to load `node-fetch` who depends on `encoding` for client code.

[2015-12-26 17:32] afhammad commented on #7
@lynndylanhurley, any ETA on this?

[2015-12-27 19:29] frammnm opened #13 "Using browserfy"
Hello, i wanted to use the library and wanted to try the sing up with the material-ui theme,
i was wondering if the require argument would be the same, and if it is recommended to use it
on the aplication.js file (top level)  or using it directly in the component file would work.
import { EmailSignUpForm } from "redux-auth/material-ui-theme";
to something like
EmailSignUpForm = require("redux-auth

[2015-12-27 22:08] #13 closed

[2015-12-28 17:57] frammnm opened #14 "Compability"
Sorry because i know this is not an issue, but i was wondering if this lib could be used along a flux architecture if the dependencies got installed. Or is this library only for redux. Soungs like a silly question but i have a flux app and this library would come very handy.
Thanks.

[2016-01-02 07:41] lynndylanhurley commented on #14
Redux is a hard requirement. So this library can be used alongside a flux architecture to the extent that redux itself can be.

[2016-01-02 07:41] #14 closed

[2016-01-02 07:42] lynndylanhurley commented on #9
Thanks @baopham - I'll add that fix to the next release.

[2016-01-02 07:43] lynndylanhurley commented on #7
@afhammad - I'm at work on this now. It's more work than I'd originally planned, and the holidays set me back a bit. No ETA, but it's my highest priority.

[2016-01-02 07:44] #5 closed

[2016-01-04 16:37] lynndylanhurley commented on #12
@afhammad - i think I may have misunderstood this issue. I'm working on adding a `next` parameter to the `EmailSignInForm` and `OAuthSignInButton` components. This param will accept a path that will be redirected to upon successful login.

[2016-01-04 16:41] lynndylanhurley opened #15 "Update for react-router 2.0"
Hopefully I can get to this before 3.0 is out :grimacing:

[2016-01-04 16:45] lynndylanhurley opened #16 "Add `next` param for success redirects."
`OAuthSignInButton`, `EmailSignInForm`, and `SignOutButton` all need support for `next` param. For example:

[code]

In the example above, the user will be redirect to the `/my-account` path upon successful login.

[2016-01-04 16:45] afhammad commented on #7
@lynndylanhurley I appreciate the effort. I had replace redux-auth with some custom components due to time constraints on my end but I will give it another shot once this is out.

Let me know if you need any help testing.

[2016-01-04 21:37] thomasMary commented on #9
Hi @lynndylanhurley, I'm facing the same issue. Any update on the fix ?

[2016-01-04 21:46] JonathanWi commented on #9
+1 same error here, the node-fetch fix doesn't do the trick for me.

[2016-01-04 21:48] baopham commented on #9
strange, it works for me. Did you compile the code after changing the `node-fetch` line?

[2016-01-04 21:48] JonathanWi commented on #9
Reloading `npm start` or...?

[2016-01-04 21:50] baopham commented on #9
no compile `redux-auth`. Or manually replace `node-fetch` with `isomorphic-fetch`  in: https://raw.githubusercontent.com/lynndylanhurley/redux-auth/master/index.js

[2016-01-04 21:55] JonathanWi commented on #9
Could you give me a gist of your fixed and compiled index.js? I can't seem to be able to compile... Thanks a lot for your help!

[2016-01-04 21:58] baopham commented on #9
Can you try to replace `node_modules/redux-auth/index.js` with this gist: https://gist.github.com/baopham/6f6ec3ac707f0838dfa3

All I did was just find and replace `node-fetch` in the file.

[2016-01-04 22:01] JonathanWi commented on #9
Yeah, just tried replacing it manually too in `node_modules/redux-auth/index.js`, but I'm still prompted with :
[code]
Any idea?

[2016-01-04 22:06] baopham commented on #9
That is a different error than the original poster's error though. Or do you mean you only get that error after replacing the file? Btw, did you setup the reducer:

[code]

[2016-01-04 22:10] JonathanWi commented on #9
Hey @baopham thanks it worked!

Regarding the error, it is the same one that stated by the original poster:

material-ui-theme.js?0449:1 Uncaught TypeError: Cannot read property 'getIn' of undefined

So switching to `isomorphic-fetch` was also needed!

Thanks for your help, hoping for a quick fixed release,

Cheers

[2016-01-04 22:11] baopham commented on #9
@JonathanWi oh right, i only looked at the error on the console. Thanks for confirming.

[2016-01-27 12:26] jure commented on #5
To sum it up, if you replicate the `devise_token_auth` external API, by following the outlined API expectations, `redux-auth` will work and work equally well, talking to a Node.js implementation. At least that's what I'm doing.

@lynndylanhurley what, in your opinion, is going to be the trickiest aspect of this API to replicate?

[2016-01-31 21:08] venil7 opened #19 "misleading documentation"
`import {config} from 'redux-auth'` in README
...then uses `configure(..)` call

[2016-02-01 10:42] venil7 opened #20 "Cannot read property 'getIn' of undefined"
I'm getting error when rendering

[code]
I'm specifying both required `provider` and `endpoint` props, but I get this error:

`Uncaught TypeError: Cannot read property 'getIn' of undefined`

[2016-02-01 17:36] SpencerCDixon opened #21 "Question: http/https SecurityError in popup. Am I approaching wrong?"
This might be a question for StackOverflow and if you'd like me to post there I'd be happy to.  I used redux-auth as a guide to setting up OAuth though so I thought someone here might be able to answer my question with better context...

So I'm trying to do google oauth to get a refresh token for my users (not actually using google oauth to save the user).  I had everything working when I used the

[2016-02-01 22:56] lynndylanhurley commented on #21
`postMessage` is broken on nearly every version of IE. I'm not sure if even edge supports it when CORS is involved.

In this library,

1. the parent window opens a popup to the API. It starts checking the URL of the popup every 100 ms or so.
2. The API redirects to the OAuth provider (google, facebook, etc.).
3. The provider redirects back to the API..
4. The API redirects back to the client, appe

[2016-02-02 00:13] SpencerCDixon commented on #21
Isn't the api server on a different domain?  For example, my rails server is at localhost:3001 but my react/redux app is at localhost:3000.  Do you get that same protocol error it just goes away once the api server redirects to the client with the proper params?

[2016-02-02 00:33] SpencerCDixon commented on #21
Yeah nevermind, I must have been really tired when I was trying to get this working sunday night because it seems to work fine now haha.  I think logging the popup when it was coming from the other URI (like https;//accounts.google) was throwing me off by giving that SecurityError,  thank you for taking the time to explain the process to me @lynndylanhurley and the great work with this library.  W

[2016-02-02 00:33] #21 closed

[2016-02-02 00:39] lynndylanhurley commented on #21
@SpencerCDixon - the API will need to redirect back to the client domain.

[2016-02-02 01:20] SpencerCDixon commented on #21
Yeah that totally fixed it, thanks again!

[2016-02-07 20:52] wormyy commented on #20
I have the same issue

[2016-02-09 11:14] Fedcomp commented on #11
Apparently it's not fixed yet?

[2016-02-13 18:11] selbekk commented on #7
+1 on this

[2016-02-15 09:01] themouette commented on #7
Not sure if this is a blocking part, but to ensure browser and server side authentication, I find https://github.com/mjrussell/redux-auth-wrapper to be useful.

In current implementation, if the user changes authentication status (in the browser), it is the developer responsibility to redirect, with redux-auth-wrapper, every time authentication changes, permissions are reevaluated.

[2016-02-17 11:13] Fedcomp opened #23 "configure() should not automatically try to authenticate on backend"
It's not flexible enough. Instead it should (imo) only try to authenticate when developer/component requests it. This way configure() only set endpoint url and then redux-auth itself saves user (in any login action) to localStorage with token + token_expire_time.
Right now, redux-auth spams unnecessary authentification event on every page load, not to say it's not even working at this moment. And

[2016-02-17 17:40] lynndylanhurley commented on #23
@Fedcomp - redux-auth started as something that I needed for a specific project. I plan to make this more flexible and extensible with future releases. My first priority is to make it possible to bypass the backend authentication so that this can be used on native apps. The work on this is mostly finished - I'll release it as soon as I get the time.

[2016-02-19 08:11] Fedcomp opened #24 "Consider better (mit?) license?"
Current license sounds a bit too harsh for project that aims to be popular.

[2016-02-19 08:38] #24 closed

[2016-02-19 18:17] josmardias commented on #20
@venil7 and @wormyy, do you have a reproduction for us?

[2016-02-19 18:18] josmardias commented on #15
#22 is addressing this one :smile:

[2016-02-19 20:06] lynndylanhurley commented on #23
This is a duplicate of #7.

[2016-02-19 20:06] #23 closed

[2016-02-19 20:06] lynndylanhurley commented on #19
Thanks, I think that may be a typo. I'll review ASAP.

[2016-02-20 08:35] Fedcomp commented on #23
It is complete different issues. In #7 you are asked for client side localstorage support. Here i ask to separate two actions, the `configure()` endpoint, and sending request to reauthenticate.
Right now `configure()` automatically send request and there's no way to prevent that automatic request.

[2016-02-20 20:00] lynndylanhurley commented on #23
@Fedcomp - the title of the issue is "Client-only (non-universal) support". In order to accomplish this, I will need to separate the `configure` and `validate` phases.

So you're right in that I shouldn't have called this issue a "duplicate". What I meant to say is that this issue will be resolved when #7 is resolved.

[2016-02-21 13:01] Prashant31 opened #25 "How can I override and customize components."
In fact how do I redirect after signin. Can't find it in the documentation

[2016-02-22 15:40] varya opened #26 "Webpack error when using the module"
Hi. I cannot get my application built when using `redux-auth`, always get an error like that:

[code]
This is my webpack config: https://gist.github.com/varya/bfab41797d00242a08e1

Could you give any suggestion?

[2016-02-25 01:25] bsy commented on #2
hey @lynndylanhurley, thanks for the awesome repo! I saw that support for react native was coming soon, do you have a feature branch going already?

[2016-02-25 23:05] danilobuerger commented on #26
Getting the same error.

[2016-02-26 13:54] Guibod commented on #26
There is some solution for that at StackOverflow:
http://stackoverflow.com/questions/35060512/moduleparseerror-module-parse-failed-iconv-lite

I did not remove the file but replace its content by an empty list: []

[2016-02-29 17:09] Guibod opened #27 "Outdated documentation (email-sign-up)"
https://github.com/lynndylanhurley/redux-auth/blob/master/docs/api-expectations/email-sign-up.md#success-response-body-example

Documentation says that successful payload should be:

[code]

But, reverse engineering (thanks to the Ng Token Auth project) tells me :
[code]

[2016-03-02 12:19] Guibod commented on #26
Ok, found the error, in the redux-auth library, the verify-auth utils require `node-fetch` instead of `isomorphic-fetch`.  `node-fetch` depends on old `encoding` library that freaks out webpack with dynamic dependencies.

[2016-03-02 19:36] marr commented on #26
I was polyfilling fetch with the node-fetch lib because I wanted to build a node bundle forthe tests. Is there a better solution to that?

[2016-03-04 12:36] jpkleemans commented on #7
+1

[2016-03-05 22:06] 5amfung commented on #2
@lynndylanhurley Awesome work and helps me a lot in learning how redux work.  Can't wait to see this coming for React Native.

[2016-03-09 11:35] stroborobo opened #28 "Custom submit labels"
We've always used the terms "Log in" and "Register" for our apps, so it's more distinguishable. I wanted to set that custom label for the submit button in EmailSignInForm, but apparently [that's not possible][1]. Those lines could just be replaced by `{this.props.inputProps.submit.text || 'Sign In'}`, right?

PS: You don't have some TypeScript definition files lying around for this project, do you

[2016-03-09 21:43] craigambrose commented on #20
I got the same error, which seemed to be caused by not having the reducer specified

[code]
It'd be nice if it handled this a bit better, either handling the null value, or returning an error telling people what to do. Also, the instructions in the README don't mention setting up the reducer. The example app certainly has it in there, but it also has a lot of other stuff that a real app doesn't ne

[2016-03-13 20:22] lynndylanhurley commented on #28
@stroborobo - this is a good idea. Do you have time to submit a PR?

[2016-03-14 07:58] stroborobo commented on #28
No, sorry, we've moved to redux-auth-wrapper for JWT now. I missed that this is made for a ruby gem and we're no Ruby guys here.

[2016-03-14 22:28] hyzhak opened #30 "Material theme doesn't work with 0.15 version of material-ui"
Because Material-UI changed Colors file:

so before you should did:

[code]

but now:

[code]

you can check it here https://github.com/callemall/material-ui/pull/2825

[2016-03-15 00:36] hyzhak opened #31 "Uncaught TypeError: E is not a function on OAuthSignInButton click"
hello guys! I tried to setup application. According to example https://github.com/lynndylanhurley/redux-auth-demo (setup `configure` and `authStateReducer`)

But got such error on ```<DefaultTheme.OAuthSignInButton/>``` button click.

[code]

so error is fired here:
`redux-auth/index.js`
[code]

what is minified version of

https://github.com/lynndylanhurley/redux-auth/blob/master/src/views/defaul

[2016-03-16 01:55] chriskozlowski opened #32 "Using redux-auth fetch to call async api server side"
I am successfully using this library inside of an express/redux/react app to authenticate against a separate rails app with your devise_token_auth gem.  Its awesome and works great!  I have run into a snag though when trying to get server side rendering of the redux/react app going.

Basically, the promise returned by the redux-auth wrapped version of fetch is not hitting the rails api server and

[2016-03-16 02:14] lynndylanhurley commented on #32
@chriskozlowski - can you post the code for the request?

[2016-03-16 02:41] chriskozlowski commented on #32
Sure!  I can't post the project as a repo but here are some excerpts.  I could create a test repo if needed but that would take a little more time to set up.

The component:

[code]

The action creator:
[code]

The SSR middleware
[code]

[2016-03-16 03:33] lynndylanhurley commented on #32
What is the result of `dispatch(receiveProjects(json)`? Are you sure that it returns something resolvable? For example, should you be doing something like this instead?

[code]

[2016-03-16 03:56] chriskozlowski commented on #32
Thanks for your help on this!

`receiveProjects()` is just a plain object action creator that signals the api call succeeded and the response data can be merged into the redux state:
[code]
Actually, while working this out, I actually commented out those additional promise `then` statements so it was isolating just the fetch call and the result was the same:

[code]

The hope was to just get the r

[2016-03-16 04:02] lynndylanhurley commented on #32
Actually now that I think about it, the bundled `fetch` was meant to be used in the client, normally in the `componentDidMount` phase of the component lifecycle. Is there a reason that the request needs to be made server-side in your app?

[2016-03-16 04:16] chriskozlowski commented on #32
Totally makes sense where you're coming from there.  Here is the story on that:
We are building a public website and a private internal app that both use the same rails api (CORS).  My goal is to get them both to authenticate with the rails api with different user classes and permissions which is why your libraries are a great fit.  Both the public website and internal app are redux/react based.

[2016-03-16 16:28] #26 closed

[2016-03-18 11:45] ochervak commented on #30
any updates on this ?

[2016-03-18 11:51] ochervak commented on #30
how can i fix it ?

[2016-03-22 09:34] woniesong92 commented on #26
I am not sure if this error pertains to this issue, but I am still getting the following:

[2016-03-22 10:05] woniesong92 opened #34 "event is not defined on handleSubmit() of EmailSignUpForm"
**Code:**

[code]

The console outputs the following when I click `submit`

[code]

I looked at https://github.com/lynndylanhurley/redux-auth/blob/c7dcc300ef23daf2deabdc7f7a18177124dc5dcb/src/views/default/EmailSignUpForm.js but the code seems fine. Do you think you can try to repro it on your end too?

[2016-03-22 16:09] felixandersen commented on #16
@lynndylanhurley any progress on this? Any suggested way to handle this for now?

[2016-03-24 18:40] yannickschuchmann commented on #19
configure example is misleading too.
[code]
should be
[code]
Kept me an hour wondering why configure().then is not a function :laughing:

[2016-03-24 18:41] lynndylanhurley commented on #19
Can you guys please submit a PR for these fixes?

[2016-03-24 18:48] #19 closed

[2016-03-25 23:53] yannickschuchmann commented on #30
Maybe it isn't already done due material-ui v0.15 is only in alpha state and updating material-ui could have other side effects? not sure..

[2016-03-27 12:53] yannickschuchmann commented on #30
I just tried to update material-ui but since v0.14.3 I get:
[code]
This may happen because of a broken import statement. Unfortunately I haven't found it yet.
v0.14.2 works like a charm for me.. I checked the changelog of 0.14.3.. no idea

[2016-03-27 13:51] yannickschuchmann commented on #34
same for me

[2016-03-28 22:23] jflayhart commented on #25
As far as customizing, I would love to have the ability to toggle between using a pop up modal, which is default alerts right now, or actual bootstrap alert banners that are closable. I really like this plugin, but can't really use it until there are more customization options.

[2016-03-28 22:24] lynndylanhurley commented on #25
@jflayhart - I will accept a PR for that feature if you have time.

[2016-03-28 22:25] jflayhart commented on #25
It might be a while, but I might have some time in the next month or so to work on it :) Happy to contribute. I am, however, new to redux but learning quickly.

[2016-03-31 16:11] betoharres opened #39 "npm install gives "UNMET PEER DEPENDENCY history@1.13.1""
Running: ``$ npm install --save redux-auth``

[code]
BTW, I'm new in the world of npm and react
Give me a hint and I'll create a pull request :)
Any suggestion?

[2016-03-31 18:21] Artforge commented on #39
I'm experiencing a similar issue

[code]

[2016-03-31 19:42] betoharres commented on #26
@woniesong92 me too! I was looking the dummy's webpack.config.js file for a clue, but it's too confusing.
Here's: https://github.com/lynndylanhurley/redux-auth/blob/master/dummy/webpack.client.js

[2016-03-31 21:09] hhff commented on #39
Same over here

[code]

[2016-04-03 20:59] leon-wbr opened #40 "Wrong Request Method"
The forms try to send the request with "OPTIONS" method, but my Rails API can't find a route to match that. I'm not sure if I'm doing something wrong, but it's not working, I'm getting this error:

    Started OPTIONS "/auth/sign_in" for ::1 at 2016-04-03 22:57:00 +0200
    ActionController::RoutingError (No route matches [OPTIONS] "/auth/sign_in")
    ...

Using standard devise_token_auth gem.

E

[2016-04-04 17:09] nyjy85 commented on #20
If you use 'combineReducers' from 'redux-immutable' as opposed to 'redux', it will throw that error because, in order to get the 'auth' state, it needs to be retrieved via 'store.getState().get('auth')' as opposed to 'store.getState().auth', since it is now an immutable.  How is it possible to work around this?  I am using redux-immutable for combineReducers and would like to keep it this way.

[2016-04-04 17:17] prisonier opened #41 "document is not defined"
When I installed this module and tried to run a simple test I got this error `document is not defined` which came from [here](https://github.com/yiminghe/css-animation/issues/4)

I'm using the default theme

Dependency tree :
rc-dialog/rc-animate/css-animation

Luckily, css-animation is required as 1.x by rc-animation so the issue will be fixed if my PR is merged.

[code]

[2016-04-05 07:33] prisonier commented on #41
Should be fixed as PR has been merged

[2016-04-05 07:33] #41 closed

[2016-04-05 07:41] waterstar commented on #9
I am sting seeing this problem with the latest code. Tried replacing "node-fetch" but no luck. Any suggestion? Thanks.

[2016-04-06 16:01] nyjy85 opened #42 "Accessing auth state from a different reducer"
Is there a way for me to access the auth state from a different reducer?

I'm trying to update User information when user's edit their profile, but I can't access or set user information from the auth state if I'm not in the authReducer.  And there's no component available that allows users to edit their information (with the exception of password).  Does anyone have a work around or suggestions?

[2016-04-06 17:04] Artforge commented on #11
Any ETA on this ticket? (or recommended work-arounds)

[2016-04-06 17:06] lynndylanhurley commented on #11
I'm busy with other work at the moment, but I'll get to this as soon as possible. In the meantime, feel free to submit a PR.

[2016-04-06 19:38] andrei-yanovich commented on #39
This was fixed by migrating to react-router v2, but these changes weren't published in npm yet, you need to get sources from github.
Update your package.json:
 "redux-auth": "git+ssh://git@github.com:lynndylanhurley/redux-auth.git",
 and `npm i`

[2016-04-07 17:17] #39 closed

[2016-04-07 18:24] andrei-yanovich commented on #42
You can write a middleware that will look for your action type for updating user profile and extend payload with data taken from authReducer.
It will be something like:
[code]

[2016-04-08 15:34] nyjy85 commented on #42
Ah, nice, thanks!  I was able to work around it by setting a separate user state in the store (instead of trying to use the user property in auth.user), and whenever 'EMAIL_SIGN_IN_COMPLETE' action was triggered, I would set the user state from the payload.  Then I just use that data for profile editing/updating.  But I like the middleware approach much better.

[2016-04-08 23:20] prisonier commented on #26
I still have the issue with webpack even with manually changing the fetch to isomorphic-fetch. I don't why I don't have the last version when installing with npm, did  you update the package with te merge ?

[2016-04-09 11:11] l1br3 opened #43 "Warning: Failed propType: Invalid prop `icon` of type `object` supplied to `t`, expected `string`. Check the render method of `t`."
Hi,

On a fresh install with the example given in configuration section I get this error.

`Warning: Failed propType: Invalid prop `icon` of type `object` supplied to `t`, expected `string`. Check the render method of `t`.`

[2016-04-11 17:12] cascornelissen commented on #43
I'm not 100% sure about this but it's probably related to #31 and should be fixed by #37.

[2016-04-13 10:18] saisasankparimi commented on #9
I am still seeing this problem with the latest code.
<img width="1136" alt="screen shot 2016-04-13 at 3 46 45 pm" src="https://cloud.githubusercontent.com/assets/10138733/14490191/11425386-018f-11e6-9567-3adaaf86b4d9.png">

[2016-04-18 02:43] prisonier commented on #43
The non minified error :

`Warning: Failed propType: Invalid prop `icon` of type `object` supplied to `ButtonLoader`, expected `string`. Check the render method of `PasswordResetSuccessModal`.`

[2016-04-18 02:46] l1br3 opened #44 "addComponentAsRefTo error after sign up/sign in success and error"
[code]

This is catched by this code in email-signup-actions

[code]

Apparently there is an error thrown somewhere but I can't figure where and why.

[2016-04-18 17:11] hhhonzik commented on #20
Hey @nyjy85,

I came across the same issue and there is a problem with initialState being undefined or plain object.

You can just wrap authStateReducer with initial immutable state like this:

[code]

[2016-04-19 00:53] nathanmalishev commented on #26
@woniesong92 you need to make sure you have a json loader.

[2016-04-19 01:23] marr commented on #26
Thanks @nathanmalishev. That fixed the error for me!

On Mon, Apr 18, 2016 at 5:53 PM, nathanmalishev <notifications@github.com>
wrote:

[2016-04-19 08:14] rayhsieh opened #47 "Couldn't load authHeaders in client-side rendering"
I'm looking into a way to keep user session alive so that user doesn't have to login again next time visiting the site. My site is using client-side rendering. After tracing the code, I figured out that there might be a chance to load session from localStorage to accomplish the goal. I'm not sure if this a good way and would like to get some feedback here.

In action/configure.js
[code]

[2016-04-20 03:07] yury-dymov commented on #40
My config.ru file, which is working for me:

[code]

[2016-04-20 14:44] dpereira411 commented on #20
I'm getting the same error but probably on a different place (a promise?)
`Uncaught (in promise) TypeError: Cannot read p roperty 'getIn' of undefined(…)`

This happens as soon as I render ` <EmailSignInForm />`.
I'm using combineReducers  from redux-immutable and wrapped the reducer with @hhhonzik code.
I'm also using the library in a client-only architecture so that could be the problem? (regard

[2016-04-21 00:50] yury-dymov commented on #20
@dpereira411, have you added AuthGlobals component to your root template? Have you executed configure from 'redux-auth'?

[2016-04-22 11:31] steelx commented on #26
still facing the issue

[2016-04-22 12:01] yury-dymov commented on #26
@steelx fetching latest version from github instead of npm solved this issue for me

[2016-04-26 05:03] steelx commented on #26
@yury-dymov  thanks fixed terminal errors.
But below Chrome Console error still persists:
`
invariant.js:45 Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).
`

[2016-04-26 05:07] steelx commented on #31
same here.

[2016-04-26 05:07] steelx commented on #43
same here

[2016-04-26 20:34] nyjy85 commented on #47
That's what I did.  Don't know if it's the 'right' way to do it, but it functions well.

I added this piece of code in `configure.js` right where you added the /* */ comment:

[code]

Then inside `client-settings.js` in the `applyConfig` function, I do a fetch for `getTokenValidationPath`, which then sets the user data under `state.auth.user`:
[code]

Just to note, I had to change the default sett

[2016-05-03 06:05] rayhsieh commented on #47
Thanks @nyjy85 ! The solution works like a charm. I also tested the pull request #50 by @jlonardi, and it works perfectly as well. @lynndylanhurley, you may consider to merge #50.

[2016-05-03 06:05] #47 closed

[2016-05-03 08:05] happybai commented on #44
+1

[2016-05-05 15:58] gen1321 commented on #43
same

[2016-05-11 13:56] betoharres opened #52 "Question: How this lib would work with dynamic subdomains"
Hi all,
I'm currently developing a ``rails`` project that users ``devise_token_auth`` gem and ``apartment`` gem as well, for multi-tenancy.

The thing is, ``apartment gem`` offers this feature os setting your desired tenant with ``subdomains``, and looking at the docs I see that you set the your API as a constant in the configuration of the app.

I'm curious to know if there's a easy workaround fo

[2016-05-11 14:32] mtarnovan commented on #43
Try downgrading to material-ui 0.14.2

[2016-05-11 15:16] l1br3 commented on #43
Im not using material ui

[2016-05-12 16:21] tayden-hakai commented on #30
+1. Also having issues with broken paths

[2016-05-17 19:08] owenr88 commented on #9
For future people... I had this error and fixed it by defining the reducer key, as pointed out by @baopham. Use `auth: authStateReducer`

[2016-05-19 19:52] goodbomb opened #53 "Unmet peer dependencies"
Hi, I'm getting the following error when attempting to install this module.

[code]

[2016-05-20 00:08] Aleyasen commented on #53
I am getting the same!

npm WARN package.json @ No repository field.
npm WARN package.json @ No license field.
npm WARN peerDependencies The peer dependency history@^1.17.0 included from react-router will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
|

npm WAR

[2016-05-20 23:00] stephenmmcleod opened #54 "Credentials not saved on login"
Hi there!  Thanks for the hard work on this project, just browsing the source has already helped me a bunch.  Unfortunately, however, I can't seem to get this to function correctly when validating on my fake API.

The problem I am experiencing is that when I attempt a sign_in action, the react app is authenticated, however if I refresh the page the state does not persist.  I have read through issu

[2016-05-23 08:24] stephenmmcleod commented on #54
😄   Well I guess I've learned a little bit about how CORS works!

(which is to say, I needed to set Access-Control-Expose-Headers for all the custom headers)

[2016-05-23 08:24] #54 closed

[2016-05-26 19:22] olalonde opened #55 "OAuth 1.0 request token?"
Twitter requires apps (consumers) to acquire a request token (shown to client) and request token secret (hidden from client) before apps can be authorised. I was wondering if that's something redux-auth supports and how it does so.

[2016-05-26 20:43] yiransheng opened #56 "Error in verify saved creds (TypeError: e.match is not a function)"
Issue occurs when there's saved creds in cookie/localStorage, and trying to verify them against server.

Code:

https://github.com/lynndylanhurley/redux-auth/blob/7d0875e2770f7c5e9d390ce876bc26df72fd99b5/src/utils/client-settings.js#L101

`return fetch(savedCreds)` throws error, as the first argument of `fetch` is expected to be a string (url), instead, library passes an object (savedCreds) to it.

[2016-05-29 07:54] alinseba commented on #53
Same here.

`> react-router@1.0.3 postinstall /home/butifanu/Desktop/jobs/node_modules/redux-auth/node_modules/react-router

npm WARN unmet dependency /home/butifanu/Desktop/jobs/node_modules/redux-auth/node_modules/redux-router/node_modules/history requires query-string@'^3.0.0' but will load
npm WARN unmet dependency /home/butifanu/Desktop/jobs/node_modules/redux-auth/node_modules/query-string,

[2016-05-31 00:33] brajt commented on #53
Same thing here.

[code]

[2016-06-01 12:09] beornborn commented on #43
same

[2016-06-01 13:45] beornborn commented on #31
same

[2016-06-01 22:26] aleks-sidorenko commented on #30
+1

[2016-06-01 22:29] aleks-sidorenko opened #58 "Update react & react-dom to 15.1.0"
Update react & react-dom to latest version - 15.1.0

[2016-06-09 14:01] yury-dymov opened #59 "Doesn't work in internet explorer 11"
Hi, first of all thank you for great library!

I am using latest redux-auth master version from github and facing error in IE 11: "Multiple definitions of a property not allowed in strict mode".

http://redux-auth.herokuapp.com/ is affected as well.

Steps to reproduce: open http://redux-auth.herokuapp.com/ in IE 11 and review the console.

Kind regards,
Yuri.

[2016-06-09 19:42] yury-dymov commented on #59
Update: bug occurs only for bootstrap theme.

This PR fixes it: https://github.com/lynndylanhurley/redux-auth/pull/38

[2016-06-09 21:58] djeeg commented on #27
Thank you Guibod

I found you can also add an email address to plug into the dialog

[code]

[code]

[2016-06-17 07:25] sungwoncho commented on #55
Did you find the answer?

[2016-06-18 04:05] olalonde commented on #55
I ended up not using this module. Used https://github.com/jaredhanson/passport-twitter server side and had to add a cookie + session store for the `/oauth/connect/` path of my (cookieless) API since that was required :(

[2016-06-18 18:27] ChrisCates opened #61 "`renderApp()` function not returning a `.then()` promise (returns undefined)"
[code]
Logs:
[code]
The function:
[code]
returns undefined:
The render app function is as follows:
[code]
Would love some feedback.

[2016-06-18 18:35] ChrisCates commented on #61
Nevermind, figured out the issue. It appears that creating a higher order function is not viable. But rather implementing the rendering directly in the promise makes more sense.

[2016-06-18 18:35] #61 closed

[2016-06-20 13:42] wmertens opened #62 "Don't depend on ImmutableJS"
[Not everyone uses ImmutableJS](http://tech.noredink.com/post/107617838018/switching-from-immutablejs-to-seamless-immutable), and requiring it adds a 57KB minified chunk of code to the initial download.

There is so little data in the auth reducer that ImmutableJS only adds overhead, with very little benefit. Would you consider dropping the dependency? You can use Object.assign or simply the `...`

[2016-06-21 06:11] sungwoncho commented on #55
I am trying to implement twitter login, but I don't really understand the process. Could you elaborate your solution? It'd be very helpful.

[2016-06-21 23:48] ChrisCates opened #64 "Custom REST Calls - (Needs PR?)"
I'm looking at the fetch request and noticed I can't do anything except `GET` requests.

Is there some way to add a custom `method` and `body` to the `fetch` request? I would like to know if that's possible. (Based on what I'm looking at in `./src/utils/fetch.js` I need to refactor with multiple params.

[2016-06-21 23:49] ChrisCates commented on #64
And I'm more then happy to do a PR if it's not possible.

[2016-06-22 00:50] #64 closed

[2016-06-22 00:51] ChrisCates commented on #64
Just noticed that you can get the authHeaders in the cookie...

[2016-06-22 01:58] ChrisCates opened #65 "HMR not working with Redux-Auth"
Hey, not sure how to debug this.

But whenever I use HMR. I get this following issue:

This happened after implementing redux-auth

[code]

[2016-06-22 11:46] yury-dymov commented on #64
DELETE example:
fetch(`${getAPIUrl()}/comments/${type}/${id}`,
    {
      headers: {
        'Accept': 'application/json'
      },
      method: 'delete'
    })

[2016-06-22 23:23] ChrisCates commented on #43
I am not using material-ui or bootstrap and I get this issue.

Hmm... Not sure how to trace this error.

[2016-06-22 23:40] yury-dymov commented on #43
@ChrisCates you can fork the repo and merge pull request pending, which resolve this issue. You call also use my fork as I did the same some time ago.

[2016-06-26 05:55] olalonde commented on #55
In case it helps... I think I re-used some code from here if I recall correctly. Here's most of the client side code:

Oauth ActionCreator.js
[code]

utils/oauth/parse-url.js
[code]

and on the server:

[code]

Just copy/pasted a few files so not sure it'll help

[2016-06-28 00:34] ChrisCates opened #66 "Design Module to persist credentials properly"
I have patched the code with a npm module `redux-auth-patch`.
It appears there are some issues with persisting authHeaders in the cookies.

the `isApiRequest()` will break if you do not clear cookies upon new entry.

I'd also suggest a more procedural type approach to the `session-storage.js` file. It was quite confusing tracing the issue and then identifying that the issue was in fact in `fetch.j

[2016-07-04 22:37] yury-dymov commented on #32
I implemented server-side fetch in my fork: https://github.com/yury-dymov/redux-oauth

Implementation details:
1) I added new server action to update headers in redux without touching user;
2) In fetch in getAuthHeaders and updateAuthCredentials I am checking if it server-side and updating session-storage.js instead of cookies/local storage and dispatching new action

[2016-07-12 22:15] jasongonzales23 commented on #53
+1

[2016-07-13 20:38] #59 closed

[2016-07-14 07:56] lynndylanhurley commented on #58
Please try out version `0.0.3-beta3`.

[2016-07-14 07:58] lynndylanhurley commented on #30
Please try version `0.0.3-beta3`. The tests are failing, but I've been testing everything manually and it all seems to work.

[2016-07-14 08:10] lynndylanhurley commented on #66
PRs welcome.

[2016-07-15 06:15] lynndylanhurley commented on #30
Working as of `0.0.3-beta6`.

[2016-07-15 06:15] #30 closed

[2016-07-15 06:16] lynndylanhurley commented on #32
@yury-dymov - do you want to merge that stuff into this repo?

[2016-07-15 06:17] lynndylanhurley commented on #58
Done as of `0.0.3-beta6`.

[2016-07-15 06:17] #58 closed

[2016-07-15 06:18] lynndylanhurley commented on #62
I'll accept a PR for this.

[2016-07-15 15:46] yury-dymov commented on #32
@lynndylanhurley in my fork I dropped multiple endpoint support and it might take too much time from my side to merge my changes and test if I haven't forgot something to support correctly all your features, which I am not using.

But I will be more than happy if other folks, who want to have that functionality in their projects will provide PR based on my code.

[2016-07-17 03:38] #7 closed

[2016-07-17 03:38] #12 closed

[2016-07-17 03:38] #15 closed

[2016-07-17 03:38] #16 closed

[2016-07-17 03:48] lynndylanhurley commented on #53
Please try again with `v0.0.4`

[2016-07-17 03:49] lynndylanhurley commented on #27
Can you send a PR please?

[2016-07-17 03:51] lynndylanhurley commented on #9
The latest version of [the demo](https://github.com/lynndylanhurley/redux-auth-demo) is based on https://github.com/erikras/react-redux-universal-hot-example.

Can you guys please try again with the demo?
https://github.com/lynndylanhurley/redux-auth-demo

[2016-07-18 00:33] lynndylanhurley opened #67 "Default + Bootstrap themes throw error when button is clicked"
Error: invariant.js:38 Uncaught Invariant Violation: addComponentAsRefTo(...)

[2016-07-18 00:35] #67 closed

[2016-07-19 19:56] wmertens commented on #62
FYI I'm working on this in https://github.com/wmertens/redux-auth/tree/no-immutable - almost there.

[2016-07-19 22:31] arjshiv commented on #20
I'm having this issue too, even after setting up AuthGlobals, the reducer and executing configure

[2016-07-19 22:34] l1br3 commented on #20
@lynndylanhurley Hey maybe time to do something, people can't use your module :)

[2016-07-19 22:35] lynndylanhurley commented on #20
@l1br3 - write me a failing test and I'll fix it.

[2016-07-19 22:39] lynndylanhurley commented on #65
@ChrisCates - can you try this again? This is working for me in the [demo project](https://github.com/lynndylanhurley/redux-auth-demo).

[2016-07-19 22:39] #65 closed

[2016-07-19 22:40] lynndylanhurley commented on #66
I agree with you about the code organization stuff. Working on cleaning things up with the next release (`v0.0.6`)

[2016-07-20 00:18] lynndylanhurley commented on #62
@wmertens - I appreciate the help, thanks so much.

[2016-07-20 00:29] lynndylanhurley commented on #52
I don't fully understand your use-case, but it sounds like could try multi-user configuration, using a different user-type for each subdomain:
https://github.com/lynndylanhurley/redux-auth#multiple-user-type-configuration

[2016-07-20 00:30] lynndylanhurley commented on #9
Closing this as I cannot reproduce. Please re-open if you have more information.

[2016-07-20 00:30] #9 closed

[2016-07-20 00:32] lynndylanhurley commented on #32
@chriskozlowski - I'll accept a PR for this if you have time.

[2016-07-20 00:34] lynndylanhurley commented on #28
Will be fixed by #3.

[2016-07-20 00:34] #28 closed

[2016-07-20 00:36] lynndylanhurley commented on #43
Can you guys try this again? I think it's been fixed.

[2016-07-20 00:36] #43 closed

[2016-07-20 00:37] lynndylanhurley commented on #53
Should be fixed in the latest release.

[2016-07-20 00:37] #53 closed

[2016-07-20 00:37] lynndylanhurley commented on #44
Try `npm ls | grep react` and see how many versions of React you have installed.

[2016-07-20 00:37] #44 closed

[2016-07-20 00:38] lynndylanhurley commented on #40
@yury-dymov is right - this is a CORS issue. Thanks @yury-dymov!

[2016-07-20 00:38] #40 closed

[2016-07-20 00:39] #34 closed

[2016-07-20 00:42] lynndylanhurley commented on #25
Just added a `next` property to the forms. You can pass in a function to be called on success. For example:

[code]

This will redirect users to the `/account` page once sign-in is successful.

[2016-07-20 00:42] #25 closed

[2016-07-20 00:43] #56 closed

[2016-07-20 00:44] chriskozlowski commented on #32
@lynndylanhurley - I will put this on our list to work on once we ship what we're working on now.  About 1-2 months.  Gettin' married next week so time is a little tight!

[2016-07-20 00:44] lynndylanhurley commented on #32
Congrats 💯

[2016-07-20 00:46] lynndylanhurley commented on #31
I believe this has been fixed, please re-open if it's still an issue.

[2016-07-20 00:46] #31 closed

[2016-07-20 08:06] l1br3 commented on #20
Sorry @lynndylanhurley but I definitely stoped using your module as I couldn't make it work because of this error. I just alarm you on the importance of this blocking problem.
So I won't take the time to write a test, sorry again.

[2016-07-20 15:55] lynndylanhurley commented on #20
I cannot reproduce this issue. That may be because it's been fixed in one of the latest releases, or because your environments are different than mine. So I'm going to close this issue out.

Anyone, feel free to re-open the issue (or create a duplicate) if you can provide a failing test, or if you can explain how your environment is different from the [working demo app](https://github.com/lynndyla

[2016-07-20 16:28] #52 closed

[2016-07-20 18:14] arjshiv commented on #20
@lynndylanhurley If it helps at all, I was trying to implement this in a https://github.com/mxstbr/react-boilerplate/tree/master/app boilerplate app, after including `thunk` and making sure that everything in the `config` notes was followed. I can write up an example repo and point you to it later today if that helps. My main suspicion is that since the react boilerplate uses `sagas` instead of `t

[2016-07-20 21:23] lynndylanhurley commented on #20
Thanks @arjshiv, that may be the case.

[2016-07-20 21:27] arjshiv commented on #20
No worries, I'll have a test repo up and hopefully you can help me debug. BTW, I love what you've done, and I have my fingers crossed that I'll be able to use it once we get past this :)

[2016-07-20 22:29] arjshiv commented on #20
@lynndylanhurley Please check out this commit to se what I had. You'll need to run `npm install` and then `npm start` and it should open up the app at localhost:3000

[2016-07-20 22:31] arjshiv commented on #20
For more context, this is on MacOS

[2016-07-20 22:58] lynndylanhurley commented on #20
@arjshiv - thanks for sending that detailed example.

@nyjy85 was right - the problem is that the redux-auth components expect there to be a normal javascript object called `auth` at the root level of your store. Her [comment above](https://github.com/lynndylanhurley/redux-auth/issues/20#issuecomment-205397621) explains the problem you're having.

In your application, the entire store is an Immuta

[2016-07-21 13:22] arjshiv commented on #20
@lynndylanhurley Thanks for taking a look. The most immediate workaround I can think of is not to use `Immutable` in the app and use something like `seamless-immutable` instead (or just plain `Object.assign` to make an 'immutable' state), but that will not scale for your framework since most people building larger apps that require authentication are moving towards using Immutable states. @hhhonzi

[2016-07-26 13:28] arjshiv commented on #20
Hey guys, any updates on this ? @lynndylanhurley

[2016-07-26 15:22] RichardLindhout commented on #2
Any updates on this? React Native support would be awesome!

[2016-07-26 15:24] lynndylanhurley commented on #2
It's a priority. I have lots of client work to get thru so I can't give an ETA.

[2016-07-26 15:33] lynndylanhurley commented on #20
@arjshiv - I'll need to provide a configuration option for accessing the auth reducer store from the root store. I'm super busy with work but hopefully I'll have this ready by next Monday or so.

[2016-07-26 16:55] arjshiv commented on #20
No worries, appreciate the help!

On Tue, Jul 26, 2016 at 11:33 AM Lynn Dylan Hurley <notifications@github.com>
wrote:

[2016-07-29 19:54] vwrobel commented on #43
@lynndylanhurley I implemented redux-auth 0.0.5-beta5 with a new project. It works fine except some 'Unknown props' warnings that remain.

I've tried the dummy app from a fresh install and gets the following warnings on my console:

[code]

I am missing something? Or the latest release didn't fix this issue?

 Thank you for your work. Apart from this issue everything went fine!

[2016-07-31 10:22] djeeg commented on #43
I use redux-auth/default-theme and 0.0.5-beta5 fixes this for me

thanks @lynndylanhurley

[2016-07-31 10:38] djeeg commented on #26
I updated from 0.2.0 to 0.0.5-beta5 and now no longer need to have this exclusion in my webpack config

`new webpack.NormalModuleReplacementPlugin(/\/iconv-loader$/, 'node-noop')`

My bundle size is also a lot smaller, no more references to node-fetch/iconv-lite/encodings

[2016-07-31 12:09] leon-wbr opened #69 "r is not a function"
I'm trying to integrate this into react-redux-starter-kit and when injecting the reducer, it's giving me the error that r is not a function.

[code]

Maybe I'm doing this all wrong. If so, please tell me how to do it the right way.

https://github.com/davezuko/react-redux-starter-kit

[2016-07-31 14:54] yury-dymov commented on #69
@leon-wbr you are passing configureAuth (I assume it is configure) as a reducer, which is not correct. You need to pass authStateReducer and afterwards dispatch configure as redux action. Please refer examples.

[2016-07-31 15:29] leon-wbr commented on #69
@yury-dymov I'm using a different boilerplate now and it works fine. Thank you. To save another issue topic - do you know if it's possible to add fields to the sign up without modifying the source?

[2016-07-31 16:00] yury-dymov commented on #69
@leon-wbr, I don't think so but you can copy-paste to your project
https://github.com/lynndylanhurley/redux-auth/blob/master/src/views/default/EmailSignUpForm.js

change this line
`import { emailSignUpFormUpdate, emailSignUp } from "../../actions/email-sign-up";`

to

`import { emailSignUpFormUpdate, emailSignUp } from "redux-auth";`

and add whatever you need

[2016-07-31 17:59] #69 closed

[2016-08-04 18:44] leon-wbr opened #70 "fetch not working in dispatch"
Am I doing something wrong? I'm calling redux-auths fetch function to retrieve all user information in our format from our REST API, but it's not authenticating properly. I swear it was working, what's wrong now?

[code]

[code]
[code]

Edit: I found out that the token header is sent, but the token itself is undefined.

[2016-08-08 16:37] tomascharad commented on #20
+1 on the redux-immutable problem.

[2016-08-08 16:47] leon-wbr commented on #70
I figured out that it was because client only authentication isn't implemented yet.

[2016-08-08 17:18] lynndylanhurley commented on #70
Client-only authentication should have been implemented in #50. Have you tried setting the `clientOnly` param in the config block?

https://github.com/lynndylanhurley/redux-auth#configure

[2016-08-08 19:46] tomascharad commented on #20
Hi @lynndylanhurley ,

I just hardcoded every container of redux-auth so it access auth like this:

[code]
And is working, I believe that if we isolate the selector in a module and it handles this immutable case for the meanwhile, then we could further give the users to be able to customize this selector.
If you guide me a bit I could help you with a PR.

[2016-08-08 21:04] leon-wbr commented on #70
This is my configure now. On sign in, the authorization token is given, but the request still sends `authorization: bearer undefined`.

[code]

[2016-08-09 01:19] yury-dymov commented on #70
@leon-wbr take a look https://github.com/yury-dymov/redux-oauth-client-demo, hope it helps :)

[2016-08-09 11:10] leon-wbr commented on #70
@yury-dymov Thanks, but no luck so far! I suppose it could be due to me not dispatching fetch, but if I wrap it in a dispatch I get an error `Error: Actions must be plain objects. Use custom middleware for async actions.`

[2016-08-09 13:30] yury-dymov commented on #70
@leon-wbr, this is correct, you can't use both libraries :) I am sorry that dispatch is required for fetch but I need to update headers in redux store and I can't do that without dispatching

[2016-08-10 15:43] leon-wbr commented on #70
It was actually an issue with my server's CORS. I was accepting all headers, but not exposing the relevant ones. Sorry for wasting your time.

[2016-08-10 15:43] #70 closed

[2016-08-12 18:42] javidjamae opened #71 "Social login on demo doesn't work"
I was trying out the demo and the social login doesn't seem to work. I get the following error:

<img width="940" alt="screen shot 2016-08-12 at 11 38 44 am" src="https://cloud.githubusercontent.com/assets/355931/17633349/b895ac2c-6081-11e6-89d2-aab4a6879d31.png">

[2016-08-16 13:23] 2easy opened #72 "unclear"

[2016-08-16 13:23] 2easy opened #73 "Client only does not work when no redirectHeaders are set"
I don't really know how to use this client only version. Doing exactly as documented I get "No credentials." error.

From code analisys i can tell that I should be redirected from some request - not really know why.
If i've got code on cdn, I just want it to start on login page, no redirection needed. I've got rails API with devise token auth, and it accepts requests to /auth/sign_in without any t

[2016-08-16 13:47] yury-dymov commented on #73
Hi @2easy,

it is [not clear if this library supports client-side only](https://github.com/lynndylanhurley/redux-auth/issues/70) version but you can give a try [redux-oauth](https://github.com/yury-dymov/redux-oauth). Client-side only example lives [here](https://github.com/yury-dymov/redux-oauth-client-demo).

[2016-08-16 13:53] 2easy commented on #73
Thanks, I'll check it out!

[2016-08-17 09:09] leon-wbr commented on #73
Hi,

this library actually supports client-side only.  Make sure your CORS headers are correct first of all (especially the exposed headers), then configure your app as follows:

[code]

I think you can set the storage to localStorage as well, but our application is working that way. Your problem is likely to be related to CORS, though.

[2016-08-17 09:17] leon-wbr opened #74 "Automatic sign in on registration / confirmation not working."
I'm not sure if this is supposed to happen, but after the registration request is sent and the response is fetched, the user is logged in, but with invalid tokens. The same happens after confirmation.

If I knew where the problem was, I would help recreate it.

[2016-08-17 09:18] 2easy commented on #73
actually the call to the api is not even made.

const store = configureStore()
const history = syncHistoryWithStore(browserHistory, store)

const renderAppWithAuth = () => store.dispatch(configure(
      {apiUrl: config.apiUrl.domain},
      {clientOnly: true, cleanSession: true}
)).then(({redirectPath, blank} = {}) => {
  if (blank) {
    return <noscript />
  } else {
    return ( <Root store={s

[2016-08-17 09:22] leon-wbr commented on #73
There's no call to the API at that point. The calls are made on sign in, sign up, etc.

[2016-08-17 09:23] 2easy commented on #73
Ok, thanks. Will check the issue with CORS in mind.

[2016-08-17 10:17] #72 closed

[2016-08-17 15:58] 2easy commented on #73
Ok, I've investigated a little bit more. This has nothing to do with CORS.

As I described Single Page App is downloaded from sever as static asset. There are no headers set to 'access-token', 'uid' and others. Due to that the code from configure action gets evaluated with initialCredentials as null (and later in './utils/client-settings.js' also is set to null), therefore function applyConfig fro

[2016-08-18 20:56] betoharres commented on #43
I'm having the same errors logs that @vwrobel has. Bunch of ``Unknown props`` whenever I try to use one of the components

[2016-08-20 21:04] antonov-e-v opened #75 "Error "You must configure redux-auth before use""
Hello. I'm using redux-auth and it's OAuthSignInButton. it's worikng on webpack-dev-server fine.

But when i'm building code in single script a have an error "You must configure redux-auth before use".

This error in node-modules/redux-auth/index.js in obfucated and minimized script, so a can not understand what it means.
Please can anyone tell me what this error actually means and where should i

[2016-08-22 14:29] betoharres commented on #71
I set up a rails 5 api and can confirm that does work, besides the google oauth that I couldn't get it working :)

[2016-08-22 14:37] betoharres commented on #61
@ChrisCates Nah, well.. that too, but the problem it's in the README.
``.then()`` is expecting a promise, but it returns none, so you just have to add ``return`` before the store.dispatch in your configuration. See:

## Before:
[code]

## After:
[code]

[2016-08-22 16:44] betoharres opened #76 "Dummy throwing Unknown prop errors"
Dummy is throwing a lot of Unknown props errors, as can be seen [here](http://pastebin.com/Y8Huwp1E)
as well in my [test app](https://github.com/betoharres/redux-auth-test) using redux auth.

They appear to be same problem of #43 that was closed before but the problem persists.

Any ideas of how it can be solved? I'd be glad to send a PR if I can.
Thanks

[2016-08-26 16:24] templeman15 commented on #73
@2easy I'm having the exact same problem and came to the same conclusion. Did you ever find a fix?

[2016-08-26 16:35] betoharres opened #77 "Lib always using cookies"
Every time I click the link in my email sent by the ``desive_token_auth`` ``ruby`` gem, it fails throwing an error saying that a variable ``value`` in the ``browser-cookies``library in the line 28  is **undefined**.
It happens when I try to **confirm an email** or **reset a password**.

I already tested the api using the dummy app and it works fine, but it's working using the server-side rendering

[2016-08-26 16:38] lynndylanhurley commented on #77
Thx for posting an example. I'll take a look ASAP.

[2016-08-26 16:48] betoharres commented on #77
Thanks a lot ❤️

[2016-08-26 17:02] 2easy commented on #73
@templeman15 yep. https://github.com/mjrussell/redux-auth-wrapper

[2016-08-26 17:31] lynndylanhurley commented on #76
It's a problem with the react-bootstrap library. It may be fixed now,
here's the issue:

https://github.com/react-bootstrap/react-bootstrap/issues/1994

If it's fixed I'll push an update ASAP.

On Mon, Aug 22, 2016, 11:44 AM Alberto Harres Rocha <
notifications@github.com> wrote:

[2016-08-26 19:34] betoharres commented on #76
Nice, thanks!! 😃

[2016-08-27 05:34] jclif opened #78 "Confirmation Success Url"
Howdy!

I'm experiencing some issues with the confirmation flow. When I try to sign in as a new user, I am redirected back to the signup page but my app is throwing an error that I don't recognize. Has anyone encountered this particular issue?

Should I be setting the confirm_success_url within settings when I call `configure`?

[2016-08-28 04:42] jclif commented on #78
I believe this might be related to #77.

[2016-08-28 04:49] jclif commented on #78
@lynndylanhurley From what I can tell, the line:
[code]
fails when name is authHeaders, because value is undefined.

[2016-08-29 20:15] betoharres commented on #78
it looks like the same problem as mine. Did you have this problem when trying to reset the password as well?

[2016-08-30 18:10] betoharres commented on #77
Doing some quick look I found that at >[this line](https://github.com/lynndylanhurley/redux-auth/blob/master/src/utils/session-storage.js#L179) the variable `val` is **undefined** when the browser opens the redirect URI from the API link that was clicked from the mail client.

The expected value(that I think it is) for the `val` variable would be something like:
[code]
That would be in the key of

[2016-08-30 20:16] betoharres commented on #77
Actually >[in this line](https://github.com/lynndylanhurley/redux-auth/blob/master/src/utils/client-settings.js#L98) **user** and **headers** does not exist in the object retrieved in the object called in `getCurrentSettings().initialCredentials`, it just has the headers values as can be seen here ![getCurrentSettings().initialCredentials output](http://i.imgur.com/m7U6Hk2.jpg)

Is that a bug?

[2016-08-31 13:48] elsigh opened #79 "`renderApp` in docs seems to be missing a `return`?"
In order to make things work (initially, only client-side) I had to change the `renderApp` function `return store.dispatch(configure(`

[2016-08-31 14:00] elsigh opened #80 "Facebook popup appears to be too small"
Is the popup window size configurable?

![image](https://cloud.githubusercontent.com/assets/517210/18131694/a15b09dc-6f48-11e6-8fdd-a83b15c53368.png)

[2016-08-31 21:02] betoharres commented on #79
Yeah, I mentioned this in #61
Since I didn't see anyone complaining I thought it was not an issue.

[2016-09-03 15:55] wzup opened #81 "Nothing but error on sign up"
Repair your demo. Every time throws an error without any reason explained even when data provided is ok

![redux-auth herokuapp com - google chrome 2016-09-03 23 53 27](https://cloud.githubusercontent.com/assets/3880497/18225916/b6731a26-7231-11e6-953e-9dbb6866180e.png)

[2016-09-05 13:29] youalreadydid commented on #53
Still an issue with 0.0.5-beta5
`├── UNMET PEER DEPENDENCY react-router-bootstrap@*`

[2016-09-07 16:52] indieforger commented on #62
@wmertens good luck. Looking to your PR too.

[2016-09-07 17:45] jimbofreedman commented on #20
Is anyone still thinking about this? I've hit the same issue and would rather pick up where you left off than start from scratch :)

[2016-09-07 20:11] wmertens commented on #62
I forgot about this 🙂 no time right now, anyone 'ant to take up where I
left off?

On Wed, Sep 7, 2016, 6:52 PM IndieForger <notifications@github.com> wrote:

[2016-09-08 13:33] tomascharad commented on #20
@jimbofreedman, By the meantime I think you could fork the repo and do what I did on my last comment.

[2016-09-09 08:05] hitchcott commented on #77
Also running into this issue. It doesn't seem that `clientOnly` mode works because of this.

[2016-09-09 20:08] tomascharad opened #83 "Returning user is not logged in"
Hi,

I'm using a rails backend with devise_token_auth + redux_auth.
The problem relies when refreshing the browser, somehow I loose my logIn credentials so I have to sign_in again.
What may I be doing wrong?

[2016-09-09 20:35] tomascharad commented on #83
Might this be happening since my app is not universal so tokenBridge is not defined?

[2016-09-09 21:22] tomascharad commented on #83
Fixed by using clientOnly.

[2016-09-09 21:22] #83 closed

[2016-09-10 21:11] luisguilhermemsalmeida commented on #20
@jimbofreedman I did what you told to do, and I could get it working, but after including <AuthGlobals /> I got the same error from before (connect.js:154 Uncaught (in promise) TypeError: Cannot read property 'getIn' of undefined(…)). Where did you include the AuthGlobals in your project? (using react-boilerplate)

[2016-09-13 10:23] chunsli commented on #76
@lynndylanhurley the RB issue has been closed and there's a PR related to it merged as well. Would love to see this fixed and updated if possible :) thanks for your great work

[2016-09-13 19:06] taschetto commented on #77
I believe I have the same issue... :+1: for this!

[2016-09-15 14:04] betoharres commented on #77
@hitchcott while this solves the ``Login`` problem, we still need to fix the ``Request Reset Password``, which doesn't throw any errors, but the modal doesn't show up

[2016-09-16 03:03] vijaychouhan-rails commented on #78
Please set the `config.action_mailer.default_url_options = { :host => 'https://localhost:3000' }` in Rails application at development.rb

[2016-09-16 03:04] vijaychouhan-rails commented on #81
Please set the `config.action_mailer.default_url_options = { :host => 'https://localhost:3000' }` in Rails application at development.rb

[2016-09-16 03:09] jclif commented on #78
@vijaychouhan-rails I believe the rails server has the correct email url; it links me to my front-end application correctly.

[2016-09-16 06:02] vijaychouhan-rails opened #84 "How can add extra field on signup form"
I need some more fields on Signup form but I could not see a doc to add extra field on signup form.

Ex: I need add first_name and last_name, address on signup field

[2016-09-16 06:04] vijaychouhan-rails opened #85 "How can we customize signup flow."
I want that after signup user should be logout should not be logged in.
I saw isSignedUp: true on redux store after signup.

[2016-09-16 16:58] betoharres commented on #77
@hitchcott thanks a lot for helping out!

it breaks the code because it's not returning a `Promise`, since it is what that is being expected from the calling method at `configure.js`

[2016-09-16 19:29] betoharres commented on #80
I believe what you want to change it's at line 19 at popup.js

[2016-09-17 23:10] compumike08 commented on #71
I got the same error when I tried logging in with Google and with GitHub.

[2016-09-19 01:04] jclif commented on #77
Would it be possible to open a pull request to fix client-side only usage?

[2016-09-21 03:54] Volcantis commented on #84
I am also looking for an answer to this problem.

[2016-09-23 01:31] jclif commented on #73
@lynndylanhurley It seems like clientOnly is still causing some problems across a few issues; have you been able to replicate any of the issues?

[2016-09-24 16:16] jclif commented on #78
@betoharres Yes, this happens on password change as well. What has been your solution to this? We would like to use this library for auth, but we are stuck because of these issues.

[2016-09-26 14:26] betoharres commented on #78
@jclif Yeah, I did a PR 10 days ago fixing these problems, you can check it out my solution [here](https://github.com/lynndylanhurley/redux-auth/pull/86), but it was not merged. I'm using this lib locally with my modifications.
But the thing is: if you clone this repo right now in the master branch and run it's tests, it will show all green even with all these errors. When I fixed, I broke 24 test

[2016-09-27 14:38] jclif commented on #78
@betoharres Interestingly, when I run these tests locally, they appear to pass without any problems.

[2016-09-27 20:18] betoharres commented on #78
@jclif They do, that's the problem! haha

[2016-09-29 03:54] jclif opened #87 "Project root index files"
I was wondering why there are files at the root of the project (index.js, bootstrap-theme.js) which export the views, instead of having the exports live in /src/index.js.

[2016-09-29 07:47] dusterio commented on #11
Seems to be still broken. Maybe it should be removed from the documentation then, or marked as TBC?

[2016-09-29 10:33] dusterio commented on #84
Just create your own view (form) with your extra field based on one of the existing views from redux-auth/src/views

[2016-09-29 10:44] Volcantis commented on #84
You can always do that but, in that case, you will have to deploy the package to npm to use it as a dependency.

[2016-09-29 10:51] dusterio commented on #84
What package? Why? Just create a JS file with the view in your own application, use one of the views (default, for instance) as a bootstrap. And use that view in the component instead of the views bundled inside 'redux-auth' package. Just one extra file, really!

[2016-09-29 10:57] Volcantis commented on #84
I don't wish to include the js in the application but use it as a module.

[2016-09-29 11:00] dusterio commented on #84
Well, I don't see any other way! :) Even if author were to include a way, different users would ask for different input types, different layouts and so on.

[2016-09-29 12:33] Volcantis commented on #84
I get that, I was trying to find out if the author has already implemented the functionality to customize the  signup fields.

[2016-09-29 14:03] jclif commented on #87
I think I figured it out; based on how other projects are doing it, there appears to be a compilation step where files are compiled using babel into a lib/ directory, which is where package.json defines the index.js file. Is there a reason these files are minified and obfuscated? It makes digging around, debugging, and understanding how redux-auth works internally a bit more difficult.

[2016-09-29 14:08] dusterio commented on #84
Looks to me like this repo is somewhat abandoned. You probably have to fork it :)

[2016-09-29 15:53] lynndylanhurley commented on #84
This is the best option for now.

I haven't abandoned this repo. Just been super busy with paying projects. I have tons of updates and improvements planned.

In the meantime feel free to submit PRs and I'll merge them as soon as possible. If the PRs are good I'll give you commit access to the repo.

[2016-10-03 00:42] dusterio commented on #84
@lynndylanhurley good to know you haven't abandoned it! :)

As far as I can see from the source code, the client side-only approach as well as local storage have never been implemented fully? I may do a PR covering these. I really don't like the idea of mixing server-side with client-side authentication. It feels like mixing 201x's approach with 1990s

[2016-10-03 19:04] jjessicaline opened #88 "Passing request headers to every request"
I am aware that I can use custom headers when using the fetch() function but I'd like to pass headers to the default API calls, for example when using email sign in. Is it possible?

[2016-10-04 06:50] yury-dymov commented on #88
Hi @jesscarrasco, I am writing about [redux-oauth](https://github.com/yury-dymov/redux-oauth), therefore I am not sure that solution will work for redux-auth but I assume _it should_.

You need to pass headers as options to `fetch` and headers should be merged with auth headers by library.

[code]

Another important part of the puzzle - your backend should support your custom headers, so you need

[2016-10-05 05:33] lakshmantgld opened #89 "Oauth for custom authentication"
We have an authorisation server which accepts clientID and clientsecret. are there any methods for for developer authenticated identities in redux-auth ?

[2016-10-17 06:20] #75 closed

[2016-10-19 23:39] JustinJKlein opened #91 "Auth not working from production redux-auth-demo"
Hi Thanks for taking the time to create this repo. I am very interested in using this to run my auth but have run into a few issues...

When trying to use email signup I keep getting there was an error processing this form:
"Please Check each field and try again."

I get this on both dev and production builds locally and on heroku box. (it is also on the demo link)
There are errors shown when I do

[2016-11-01 03:50] server-monitor opened #92 "How do I style a default theme using Semantic UI?"
I've tried overriding form class names like this:

    .email-sign-up-form, .ui, .form {
    }

But it doesn't work. The ui and form classes come from the Semantic UI lib.

[2016-11-01 09:29] zhongxia245 opened #93 "token save localstorage , fetch header authorization is "Bearer undefined""
[code]
get token  code
[code]

token name is `access-token`.
**but save localstorage is  `access_token` .**
![image](https://cloud.githubusercontent.com/assets/7597581/19885124/f45b43d2-a057-11e6-95b4-a13185bd74e5.png)

so , `currentHeaders['access-token'] `  is underfined.

[2016-11-02 19:37] JustinJKlein commented on #81
I have searched the whole project there is nothing like that in the project. So what am I setting?

[2016-11-07 05:04] #92 closed, assigned to nobody

[2016-11-08 02:35] qiuyuzhou opened #94 "Could this be used without server render?"
I use create-react-app from facebook, which not support server render, in my project.

[2016-11-11 23:42] marekciupak commented on #53
I had the same problem. Manual installation of the package fixed the problem for me: `npm install react-router-bootstrap --save`.

[2016-11-30 05:37] mmahalwy commented on #2
Wanted to bump this up. Anything on this?

[2016-12-09 06:03] alukach commented on #20
I was bumping into this issue. My problem was that I was using `redux-persist`, which includes `autoRehydrate()` middleware that returns a POJO rather than an Immutable.js `Map`.

[2016-12-09 19:59] betoharres commented on #94
yes, I'm using it right now, but you have to make some changes. There's some bugs in the client-side mode

[2016-12-13 22:16] bbrock25 commented on #77
Thanks for the contribution @betoharres and thanks for the work on the library @lynndylanhurley. I have also been experiencing this issue in an attempt to rip out home rolled auth in favor of a community driven package.

calling configure with the following:
[code]
has left me with the name.replace is not a function error. Its strange, the issue is intermittent... Just hoping to draw some attentio

[2016-12-14 21:33] MrHash commented on #20
Same problem as @alukach integrating with `redux-persist`. Any suggestions?

[2016-12-14 21:50] alukach commented on #20
@MrHash I believe someone finishing the PR from #62 would do the trick.

Also, I think you could lean on the [`createTransform`](https://github.com/rt2zz/redux-persist/blob/master/docs/api.md#createtransformin-out-config) function from `redux-persist` to convert anything stored in `localstorage` to a `Map` object. I haven't had a chance to try this, but I believe this type of thing is what the fun

[2016-12-15 15:46] betoharres commented on #77
Hi @bbrock25 ! From what I remember this error is due `browser-cookies` library trying to use a variable that is undefined because of `redux-auth` code. Have you tried to apply the changes that are in the PR #86 ?

[2016-12-15 20:30] bbrock25 commented on #77
No, not yet, we just did an initial pass through as a research spike. if we get the go ahead to fork and work this I'll definitely use that as a guide to get started.

[2016-12-19 03:41] jclif commented on #77
I've tried using #86 but am still seeing the errors, for whatever reason. We have had to disable email login in production, and are simply relying on Omniauth at the moment. Hopefully there is a fix in the near future.

[2016-12-19 18:59] stephencarr opened #95 "Login redirect to referring route"
I'm struggling to figure out how to pass along the referring route to the sign in component so that upon success I can send the user back to the path from where they came from. This is what I want to achieve:

[code]

`EmailSignInForm` has a `next` function but if I use `browserHistory.goBack()` in that function it doesn't do what is expected as `/additem?foo=bar` got replaced by `/login` in the o

[2016-12-23 19:57] njhoffman opened #96 "react-router-redux unmet dependency"
react-router-redux is in devDependencies, but it needs to be in regular dependencies in package.json

[2016-12-28 12:01] doman opened #97 "Redux auth DEMO errors"
Hello,

whole repo is very inspiring and well documented, but I can't get through errors while singing in either with valid email address or via social networks.

I will be very, very grateful for any ideas, what's going on.

![error](https://cloud.githubusercontent.com/assets/24809365/21521450/53c0d194-ccfd-11e6-9c53-5e0998417cdf.JPG)

P.S. I am interested in react-native version as well, do you

[2016-12-29 08:23] eseQ opened #98 "React Warning"
Hello.

Use material-ui and I have 2 warnings:
1)  Unknown prop `errors` on <input> tag. Remove this prop from the element. [https://fb.me/react-unknown-prop](https://fb.me/react-unknown-prop)

2) `value` prop on `input` should not be null. [For example](https://github.com/lynndylanhurley/redux-auth/blob/master/src/views/material-ui/EmailSignInForm.js#L63)

[code]

[code]

How i can fix that?

[2016-12-29 11:29] eseQ commented on #77
Hello!
I have same problem:
clientOnly mode, but after reload app forget about user xD
I cant see where redux-auth save headers (cookies or localstorage).
May be I need use tokenValidation custom request?

Thanks for help!

[2016-12-29 15:50] yogsky commented on #98
Same here on a simple EmailSignUpForm 😓

[2016-12-31 00:49] jamesy829 opened #99 "Function getApiUrl is not exported properly"
I am trying to determine the API URL without configuring webpack to build the variable and I notice the function `getApiUrl` was export. But when I try `import { getApiUrl } from 'redux-auth'` and run the `getApiUrl` function, it would return it is not defined.

Any idea why I cannot import the function if it was exported?

[2017-01-03 22:23] tayden opened #100 "Document actions available in API"
It would be great if the redux actions that can be imported from redux-auth were documented somewhere.

For example, I have some drop down menus with a logout option that I want to trigger a signOut action on click. Ideally this would call the same action used internally by redux-auth's SignOutButton component. I'd similarly like be able to call the oAuthSignIn action, but it's difficult to tell w

[2017-01-09 18:10] elipoz commented on #77
Cookies are saved from ./src/utils/fetch.js, which you must use in order to do all your ajax requests to the server (the storage logic is in src/utils/session-storage.js).
Also make sure that you configure CORS properly to allow for the specific headers such as: ["token-type", "uid", "client", "access-token", "expiry"]

[2017-01-12 16:06] qiuyuzhou commented on #94
Thanks.

[2017-01-12 16:06] #94 closed, assigned to nobody

[2017-01-12 20:03] tizub commented on #98
Upgrading react-bootstrap dependency version from ^0.29.5 to the most recent one (0.30.7 at the moment) should fix the issue, as this has been fixed in version 0.30.1:
https://github.com/react-bootstrap/react-bootstrap/pull/2095
I am totally new to Redux and all, but I could try and do a PR.

[2017-01-13 02:34] alivelee opened #101 "oauth 2 demo error"
it says :
[code]

[2017-01-19 16:42] nadyja opened #102 "URL params invisible to react-router-redux in clientOnly mode"
I recently started using redux-auth in `clientOnly` mode. I had to update from `v0.0.2` to `0.0.3` for the login status to persist and now `react-redux-router` stopped recognizing the URL params.

For example
If I go to `/signin?next=dashboard` the route configuration `<Route path="signin" component={AuthenticationSignIn} />` doesn’t match it anymore and the page gets 404 (worked fine in 0.0.2)

I

[2017-01-21 10:53] KirillSuhodolov commented on #20
Hey @lynndylanhurley any news with fixing this issues or removing useless immutable.js dependency?

[2017-01-24 17:10] codeeverystory opened #104 "where to set your popup param url?"
I'm using node.js as a backend with redux-auth.Now for client-slide,where should i set my client-id,redirect-url,client-secret, Scope ...........(Popup param url) for google-oauth authentication ??

[2017-01-31 14:24] nerfologist commented on #77
Hi, I'm also running into this issue the following way:

- Fill in email address on the `<RequestPasswordResetForm />`
- Submit the form
- Check that the password reset email is correctly received by MailCatcher
- Click on the link provided

`redux-auth` starts configuration and seems to be setting a few cookies:

- name `defaultConfigKey`, value `"default"` (succeeds)
- name `currentConfigName`,

[2017-01-31 18:14] elipoz commented on #77
Make sure that you configure CORS properly on the server side to allow for the specific headers such as: ["token-type", "uid", "client", "access-token", "expiry"]

[2017-02-01 22:06] michaelcjoseph commented on #98
@lynndylanhurley @tizub Would love to see this resolved. Thank you for all your hard work guys!

[2017-02-09 08:12] nukosuke commented on #98
I have same problem.

Maybe, warning 1 is caused by this line.
- https://github.com/lynndylanhurley/redux-auth/blob/master/src/views/default/Input.js#L51

`{…this.props}` extracts all of `AuthInput` props here, but `<input />` element has no `errors` prop.

@tizub Probably, it will not work with react-bootstrap v0.30.x because `<Input />` has been removed in v0.30.0 😢

[2017-02-09 09:44] nukosuke opened #105 "<Input /> was removed in react-bootstrap v0.30.0"
use `<FormControl />` instead.

FYI: https://github.com/react-bootstrap/react-bootstrap/commit/cb43f73ecfdd2e2c9c33b757208c812a8ce032cc

[2017-02-10 15:50] anthonyvialleton commented on #96
Same here.

[2017-02-13 17:35] sibsfinx commented on #77
Faced the things described across several issues in this repo, so to sum up how to use this without server–side rendering, I can advise the following settings to provide in the `configure` method:
[code]
Also thanks a lot @betoharres for your fork — but would be great to provide a build changes too (not only source) in your PR https://github.com/lynndylanhurley/redux-auth/pull/86

[2017-02-13 17:39] sibsfinx opened #106 "Add .nvmrc?"
Not sure whether it's necessary for everyone, but personally I enjoy using https://github.com/creationix/nvm for nodejs versions management and https://github.com/wbyoung/avn for automatic switching.

[2017-02-13 17:56] betoharres commented on #77
@sibsfinx Thanks! You mean running `npm run release` and committing it?

[2017-02-13 18:23] sallyhill opened #107 "make a way to mock api route responses using fetch mock"
This way the front end of an application can try out redux-auth without having the fully build the back end immediately.  (aka, you could have a static username and password in your mock route function and a little token generator)

[2017-02-14 11:29] sibsfinx commented on #77
@betoharres yes, exactly

[2017-02-17 21:23] moalamin opened #108 "Having trouble with configuration."
Hello, my index.js file, the main part of my react application looks like this:

`import React from 'react';
import ReactDOM from 'react-dom';
import App from './App';
import SignUp from './components/SignIn.js'
import Todos from './components/Todos.js';
import './index.css';
import { Router, Route, browserHistory, IndexRoute } from 'react-router';
import { syncHistoryWithStore } from 'react-route

[2017-02-20 02:46] piersholt commented on #108
Hi @moalamin,

This is normal behaviour. `configure()` will dispatch multiple actions independently. This will invoke an attempt to load token headers that have been persisted to cookies (or local storage).

Your configuration `cleanSession: true`, does not allow persistence, so the token headers aren't available, causing a failure- as you've noted: `AUTHENTICATE_ERROR `. You'll note that you must

[2017-02-27 21:50] claudicular opened #111 "Error util.inherits is not a function"
While trying to use redux-auth in a new app I came across this error while booting up the app for the first time. It looks like some kind of circular dependency issue with redux-auth's dependency of isomorphic-fetch. When I tried the redux-auth-demo repo provided, the same error occurred. Any ideas on how to resolve this? Thanks.

[2017-02-28 01:42] claudicular commented on #111
Just an update on this, it was because I had webpack resolve.mainFields set to
['main', 'module', 'browser']
Taking that out fixed it. closing

[2017-02-28 01:42] #111 closed, assigned to nobody

[2017-02-28 09:51] claudicular commented on #94
What exactly do you have to change to get client side only to work? I tried the clientOnly setting and am still getting an error.

Basically the registration confirmation link does not work for me, it throw the following error:
Uncaught TypeError: Cannot read property 'replace' of undefined

It seems to be because it's trying to run Cookies.set on a null value for authHeaders, no idea why..

[2017-02-28 10:50] antoninvroom commented on #2
Hi @lynndylanhurley thank you for this repo ! any news for react-native version ?

[2017-02-28 23:48] tayden opened #112 "Session expiry notifications"
Does this library provide any functionality/ui to get users to re-authenticate if their access token expires? I'd like to have users re-authenticate if the current date is past the expiry data that is sent from the auth server. Without this users may trying to request server api resources with expired tokens and receive "unauthorized" responses.

[2017-03-02 00:43] JulesAU opened #113 "Attempts to use browser-cookies when running on server"
Tracking down this error `ReferenceError: document is not defined`, led me to [this bit of code](https://github.com/lynndylanhurley/redux-auth/blob/master/src/utils/session-storage.js#L89) - which ultimately calls

[code]

Where `Cookies` is the `browser-cookies` lib and hence doesn't work server side.

[2017-03-06 14:43] nerfologist opened #114 "Specifying API port 80 might cause auth calls to fail with 401"
Hey,
in my workplace we just ran into the following GOTCHA:

our production API runs on heroku on `http://someserver.net:80` so here's our `configure`:

    store.dispatch(configure({ apiUrl: 'http://someserver.net:80' }))

This configuration is valid and, when we click the Sign In button, a request is issued to `http://someserver.net/auth/sign_in` according to the Chrome dev tools. Note how **:80

[2017-03-15 08:22] shai32 opened #115 "Missing documentation"
I am building a SPA react web with hapi server.

I want to integrate redux-auth with my application but there is no documentation.

how do I connect my api server (that use token auth with hapi in my example but the doc should apply to any kind of api server with token auth)

it will be useful for an "HOW TO" guide, how to intergrade a the client with an existing api server.

[2017-03-15 08:24] shai32 opened #116 "Support for the new react-router 4"
the react-router has a lot of breaking changes.

[2017-03-18 12:43] kfrajtak commented on #62
@wmertens good job! I pulled your repo. However the issue is still there in the minified them file (in my case `default-theme.js`).

@lynndylanhurley can you push the unminified files into repo? Or are they available elsewhere?

Thanks,
Karel

[2017-03-18 22:15] wmertens commented on #62
Hi Karel,

I never got around to finishing it, iirc there were some more complex
Immutable API calls that had to be changed, those are still in there.

On Sat, Mar 18, 2017, 1:43 PM Karel Frajtak <notifications@github.com>
wrote:

[2017-03-28 18:08] Stupidism opened #117 "Can we get rid of react-router?"
`redux-auth` shouldn't have any relationship with `react-router` or `react-router-redux`.
Otherwise, this name should be named `react-router-redux-auth`

[2017-03-29 01:45] Stupidism commented on #117
I'm trying in this [repo](https://github.com/ClarityMovement/redux-auth).
Example and test can use `react-router` but source code should get rid of `react-router`

[2017-03-29 20:07] Stupidism commented on #117
It seems this repo is not maintained any more. dependencies are outdated. tests are not covered enough.
I naively thought it's gonna work with some simple code-modification after passing the tests.
I've wasted more than one day on this and I have to stop it.

[2017-03-29 20:07] #117 closed, assigned to nobody

[2017-04-18 13:36] OriaLogic commented on #20
Hi,

I have the same issue, which I could fix when server rendering by adding the following:
`Object.defineProperty(store.getState(), 'auth', { get: function() { return this.get('auth'); } });`
before injecting the `store` to the `Provider` component.

It fixes the issue when server side rendering because now you can access the `auth` property of the store `state` by doing state.auth.

The problem

[2017-04-18 18:01] OriaLogic commented on #20
Just to update on my previous comment:
I finally found a solution that works both for server-side rendering and client side. I wrapped my combined reducer with a new reducer function as follows:

[code]

It is not very nice but it solves the problem and I don't see any side effect so far.
Don't hesitate to tell me if you see an issue with this solution.

[2017-04-24 12:51] OriaLogic opened #118 "Typo in Readme inducing error on signout"
Hi,
Just for info, you did a typo in your ReadMe in the configuration section [here](https://github.com/lynndylanhurley/redux-auth#multiple-user-type-configuration).
`signOutUrl` in the configuration is invalid and will lead to signout issue.
Use (as the other keys of the config) `signOutPath` instead of `signOutUrl`
You should update that.
Cheers

[2017-05-12 03:00] bhellman1 opened #119 "Is this repo still supported/active?"
I'm noticing the warnings like seen below. Is this repo still being actively maintained / supported?

Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

Warning: You are manually calling a React.PropTypes validation function for the `formControlFeedback` prop on `Glyphicon`. This is deprecated and will throw in the standalone `prop-

[2017-05-21 06:00] waleedarshad commented on #119
@bhellman1  is it working for you? what other solution you tried for authentication?

[2017-05-31 21:46] kshahkshah commented on #2
@lynndylanhurley Hi, any updates or existing PRs? If not can someone outline was is needed to make this happen so perhaps others can get involved and move the ball forward on this?

[2017-06-07 01:43] jpulley101 opened #120 "Oauth Example"
I'm looking for a Oauth Example project using React with Login and render content. Does anyone have one I can use?

[2017-06-07 11:54] epozsh opened #121 "Can i use this library for oath autentication with IdentityServer from asp net core?"
I have got my application based on react starter kit (NodeJs), and i have got the identityServer4 based on asp net core . I am new with oauth  thats why i ask this?

[2017-07-03 16:17] michael-gillett commented on #2
@whistlerbrk @lynndylanhurley I'd be happy to work on adding react native support if there is an outline of what is done and what still needs to be done.

[2017-07-06 15:58] dandlezzz commented on #62
I need this and will be taking a look at it.

[2017-07-13 13:57] jocmp commented on #116
react-router is the breaking change. This library should work fine with v3.

[2017-07-14 02:55] betoharres commented on #119
yeah it is for quite some time, it is a great library btw, but it needs a rewrite, or at least a great code review

[2017-07-22 09:44] oprearocks commented on #116
I think I found a solution for this issue, that doesn't involve modifying the library. I have to test it thoroughly and make sure that it works in all scenarios so I don't get people hyped for no reason. I will post an update in the following week.

[2017-08-07 12:24] BjornMelgaard opened #123 "integration with nextjs"

[2017-08-16 16:55] devilankur18 commented on #96
Same here

[2017-08-18 02:03] newfylox opened #124 "Unable to resolve module `react-redux` && Unable to resolve module `querystring`"
I have `"redux-auth": "0.0.5-beta5"` in my `package.json` file and I try to use the component `<EmailSignInForm />` from the default-theme.

`default-theme.js` is complaining because it doesn't find the module **react-redux** that is required in it. I can see that **react-redux** is only a **devDependencies** in your project.

If I installed **react-redux** manually, `index.js` is unable to resolv

[2017-08-20 11:27] Galileuu commented on #124
I'm having the same issue

[2017-08-24 01:32] stvmachine opened #125 "Support for only client side?"
I read about this project have support for only client side, but with the present example i cant made it. What need for only get the solution for client side with Reactjs, someone knows?

[2017-08-29 08:29] oprearocks commented on #94
Could be a late answer but, were you using React Router v4?

[2017-08-29 11:28] thesubr00t commented on #119
Any news?

[2017-08-29 16:08] betoharres commented on #119
@thesubr00t nope, actually I did my own `redux-auth` (client-side only using `redux-form`) and it took me only a week to build. It's not that hard.

[2017-08-29 16:14] thesubr00t commented on #119
@betoharres thank you for your reply!

Would you mind to share a gist? It would be helpful.

Thanks,

[2017-09-01 20:30] ammoto commented on #116
@oprearocks any update on the solution?

[2017-09-01 20:48] oprearocks commented on #116
Oh. Totally forgot about this. My schedule has been hectic since then. Let me try to describe it in plain text, here.

## The problem

The problem with React Router is that it doesn't care about your query string anymore. This is why when you redirect to http://localhost:3000?token=token_string&uid=uid_string it all seems to go away. For me, this was an intermittent issue. Sometimes login worked,

[2017-09-07 10:46] thesubr00t opened #127 "Is the project still maintained?"
Hi,
Given the number of pull requests and issues unanswered, I wonder if the project is still maintained.
Any information?

[2017-09-10 10:59] oprearocks commented on #127
@thesubr00t Given that the community of people who use this library is still active I'd say it is. Why are you asking ? Do you need help with any specific issue ?

[2017-10-12 07:00] tomoyuki28jp commented on #127
There is no commit more than one year, so I think this project is not maintained anymore...

[2017-10-16 10:38] pupadupa opened #129 "Security issue"
Account page could be visible in inspector (even without auth):
https://yadi.sk/i/32IfYz6_3Nnhuj (screenshot)

All sensetive data shouldn't be placed inside component without auth check on server side (or during api call).

I guess it should be mentioned explicitly.

[2017-10-19 14:43] wesley-harding commented on #129
I don't see the issue here. What you're showing is simply the JS source behind the account page. There is no sensitive data on that page. Any data that would be displayed on that page should be loaded via an AJAX call to the server.

[2017-10-19 14:51] wesley-harding commented on #127
This repo does not seem to be actively maintained at the moment. We had to fork the project in order to address several issues we came across during integration. We've have been making fixes as needed over at https://github.com/carolhealth/redux-auth.

Fair warning: we may not continue to support our fork. We're identifying significant roadblocks integrating this package. Most of the changes and f

[2017-10-19 16:02] lynndylanhurley commented on #129
Thanks @wesley-harding. That's just the code for the template. Any actual sensitive data should be served by the API and protected with access control server-side.

[2017-10-19 16:02] #129 closed, assigned to nobody

[2017-10-19 16:09] lynndylanhurley commented on #127
I keep making these client libraries and the javascript ecosystem keeps changing out from under me. I've been using an API client in all of my active projects that works a little better with all the latest stuff. I'm going to integrate it into this project, and hopefully it will make this project a little easier to maintain. But I don't have an ETA. It will probably be at least a few weeks, maybe

[2017-10-27 13:23] himanshu0128 opened #130 "Provide options to change what happens after successfull sign in"
I am using this library for Oauth authentication. The next() function does the job of what happens after successfull sign in but rest of the things are handled by the library itself. Every application has its own authentication scheme and the option to set cookies should be given to the application and not the library. Currently the library sets authheaders as cookie after token validation call. I

[2017-12-05 23:16] veeramarni commented on #104
@lynndylanhurley can you respond to this? I'm stuck with the same thing, should it be done at server level?

[2018-01-05 16:31] sandric commented on #123
Any progress on that issue?

[2018-01-10 07:07] MarkNBroadhead commented on #127
@lynndylanhurley would you mind mentioning which API client you recommend?

[2018-01-11 16:42] ac7552 opened #133 "Error Coming from Default Module"
I'm currently getting the following error whenever I try to import a default component.
[code]

[2018-01-15 16:51] ddmilo commented on #133
Any luck on this? I'm getting the same error when trying to import any of the forms.

[2018-01-16 00:16] sandric commented on #133
Not sure if thats me doing smth wrong, but I see the same error.

[2018-02-20 06:37] fkotsian opened #134 "Possible to split into actions+reducers / views packages?"
@lynndylanhurley Sorry to be so overt, but it seems that most of the problems maintaining this very helpful package come from the crazy pace of React development, whereas most of the core is in the (relatively static) actions and reducers that integrate with devise_token_auth.

Would it be possible to split this package into actions & reducers, and separate views?

I think that could make this a l

[2018-02-20 14:42] lynndylanhurley commented on #134
Hi @fkotsian - you're absolutely correct. I've broken out the core of this into a framework-agnostic package that I will be releasing within the next few days. I'll post a note here when it's live.

[2018-02-21 03:53] fkotsian commented on #134
Sounds great, thank you for all the great work!

[2018-02-27 11:48] PawelStepak commented on #127
I'm wondering if the project is safe to use as it is not maintained for over 2 years ? Will it work with latest React and Redux libraries ?

[2018-03-14 17:31] krzysiek1507 commented on #134
@lynndylanhurley do you have any news for us? ;)

[2018-04-12 23:21] mikeover commented on #20
I know this was a year ago, but could you expand on this @OriaLogic ? Could you provide the context of where you're creating your store and reducer? I can't seem to get it working.

[2018-04-12 23:27] mikeover opened #136 "Successful integration with react-boilerplace?"
Has anyone successfully integrated this with https://github.com/react-boilerplate/react-boilerplate? I started with the boilerplate with no changes, added this package, added redux-thunk, put AuthGlobals right under AppWrapper in App/index.js, and in app.js, rendered to the DOM the results of the renderApp call.

Getting the getIn error:
[code]

If anyone has a basic, working example I would reall

[2018-04-13 15:32] mikeover commented on #136
If anyone else runs into this, I finally got them working together. Had to make some changes to `redux-auth` but I integrated them and created a new repo at https://github.com/mikeover/react-boilerplate-redux-auth

[2018-04-13 20:26] mikeover commented on #54
How exactly did you do that @stephenmmcleod ?

[2018-04-16 21:19] arnaudcosson commented on #133
@ac7552 @ddmilo @sandric any solution for that ? I have the same error when trying to import EmailSignUpForm from 'redux-auth/default-theme'

[2018-04-26 15:22] cleicar commented on #93
@zhongxia245 did you find a solution for this problem?

[2018-05-06 22:12] SpLouk commented on #127
It won't. I'm using react 15.4.0 to make it work.

[2018-05-12 16:09] lingaramo commented on #133
Same error here with AuthGlobals component.
Also when trying with:
bootstrap-theme: `TypeError: Cannot read property 'bool' of undefined`
material-ui-theme: `TypeError: Cannot read property 'object' of undefined`

Could be some wrong configuration, but I couldn't find a clue in the docs.
I'm using Rails5/webpacker and following the examples in the docs.

[2018-06-06 01:12] AlexMcConnell commented on #127
Any update on the future of this? Also, why isn't this app mentioned in the devise_token_auth list of apps?

[2018-07-16 16:51] mlshv commented on #96
Same here

[2018-11-12 14:01] betoharres commented on #127
To anyone that need frontend functions to work with `devise_token_auth` I have this gist that I wrote last year to send and receive tokens from devise token auth ruby gem:

`auth.js`
[code]

``constants.js``
[code]

Then, whenever you need to call the api, here's what you need:
(btw, I'm using immutable on this project, just use plain objects)

`parse.js`
[code]

``example os usage(redux-thunk): `

[2019-03-04 17:50] nsallis commented on #133
I have this same issue. It kind of sucks that this hasn't been resolved after 10 months :/

[2019-03-04 18:12] lingaramo commented on #133
Try using react/react-dom 15.*

[2019-07-22 14:23] rap2hpoutre opened #137 "Archive this project"
See: https://github.com/lynndylanhurley/redux-auth/issues/127.

Since the name is generic (e.g `"redux-auth"`), devs could try to use it, then have problems since it's abandoned.

[2020-01-06 15:56] rap2hpoutre commented on #137
Ping @lynndylanhurley

[2020-02-14 11:32] exocode commented on #127
@betoharres thank you for that snippet! I have trouble to find out what's behind the "./parse" file? I am relatively new to React, so can you help me with that, please?

[2020-02-14 13:27] betoharres commented on #127
@exocode I forgot to put the name of the file in the snippets. I just updated it with the name now.

`parseResponse` function exists mostly because you need to call `.json()` from the `fetch` response, and also because I have to transform all the object keys into camelCase because of ruby - the response were getting something like this:
[code]
and I needed to transform this into camelCase like thi

[2020-12-01 09:05] #125 closed, assigned to nobody

[2021-03-03 07:09] #73 closed